
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
html, body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
    background-color: #1e1e2e;
    font-family: "Didact Gothic", sans-serif;
}

.container {
	margin: auto;
	width: 500px;
}

a, p, li {
     color: #cdd6f4;
}

h2 {
    color: #b4befe;
}

h3 {
    color: #89b4fa;
}

h2, h3 {
    margin-bottom: 8px;
}

ul {
    margin-top: 0;
    list-style-type: square;
}

li::marker {
  color: #bac2de;
}

a:hover {
    color: #a6adc8;
}

hr {
    border: 1px dashed #a6adc8;
    border-style: none none dashed; 
}